.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    text-align: center;
}

.form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.form button:hover {
    background-color: #555;
}

.form .error {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffcccc;
    color: #cc0000;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (max-width: 768px) {

    .main {
        height: auto;
        padding: 20px;
    }

    .form {
        margin: 0 20px;
    }

    .form h2 {
        font-size: 20px;
        text-align: center;
    }

    .form input {
        margin-bottom: 10px;
    }

    .form button {
        margin-bottom: 10px;
    }

    .form .error {
        margin-bottom: 10px;
    }

}