.main {
    background-color: #f4f4f4;
}

.inputContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    max-width: 900px;
    margin: 0 auto;
}

.inputContainer textarea {
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}

.inputContainer button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #f0f0f0;
    cursor: pointer;
}

.inputContainer button:hover {
    background-color: #e0e0e0;
}

.inputContainer input {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.inputContainer select {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.selectInput {
    display: none;
}

j

/* Custom styling for file input */
.inputContainer input[type="file"] {
    display: none;

}

.inputContainer label {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #f0f0f0;
    cursor: pointer;
    text-align: center;
}

.inputContainer label:hover {
    background-color: #e0e0e0;
}

.feedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedCard {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    background-color: #f0f0f0;
}

.feedCard img {
    width: 100%;
    max-height: 500px;
    border-radius: 10px;
}

.feedCard p {
    margin-top: 10px;
    font-size: 20px;
}

.feedCard button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #f0f0f0;
    cursor: pointer;
}

.feedCard button:hover {
    background-color: #e0e0e0;
}

.cardHeader {
    display: flex;
    align-items: center;
}


.cardFooter {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}